/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  } */
  
  /* h1 {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #281414;
    z-index: 10;
    margin: 0;
    padding: 0;
  } */
  .g-map{
    background-color: #F9F9F9;
  }
  
 /* .search {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 10;
  }
  
  .search input {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
  } */
  .search {
    margin: 0rem 1rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    width: 19rem;
    border-bottom: 1px solid #867AE9;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    margin-left: 28%;
  }
  
  .search input {
    padding: 0.5rem;
    font-size: 1.5rem;
   
  }

  /* @media screen and(max-width:730px){
    .search{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 14rem;
      height: 2rem;
      background-color: red;
    }

  } */
  
  
  .locate {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    z-index: 10;
  }
  .locate img {
    width: 30px;
    cursor: pointer;
  }
  .gif{
    text-decoration: none;
    margin-bottom: 5rem;
    margin-left: 32%;
    color: black;
  }
  #gif{
    text-decoration: none;
    margin-bottom: 1rem;
  }
  .gif:hover{
    color: #480cec;
    outline: 0;
  }

  .btn_submit2{
    background-color: transparent;
    border: 2px solid #867AE9;
    border-radius: 0.6em;
    font-size: 1rem;
    height: 2.5rem;
    width: 5rem;
    background-color: #867AE9;
    font-weight: bolder;
    cursor:pointer;
    font-family: "Montserrat";
    text-transform: uppercase;
    margin-right: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    

}

.btn_submit2:hover, .clear-map:hover{
    color: #ffffff;
    outline: 0;
}

.construct2{

    transition:  box-shadow 500ms ease-in-out,color 500ms ease-in-out;
}

.construct2:hover{
    box-shadow: 0 0 40px 40px #1f1f1f inset
}


/* @media screen and(max-width:730px){
  .search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 2rem;

  }
  .search input {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
    background-color: red;
  }

} */

@media screen and (max-width:730px){

  .search {
    margin-left: 10vw;
  }
}

#flex-container{
  display: flex;
}
  .clear-map{
    background-color: transparent;
    border: 2px solid #867AE9;
    border-radius: 0.6em;
    font-size: 1rem;
    height: 2.5rem;
    /* width: 5rem; */
    background-color: #867AE9;
    font-weight: bolder;
    cursor:pointer;
    padding: 2px;
    font-family: "Montserrat";
    /* text-transform: uppercase; */
    /* margin-left: 46%; */
    cursor: pointer;
    /* margin-top: 1rem; */
} 