
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    color: #0A1931;
    
}

.successText{
    height:78vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    background-color: #867AE9;   
    
}
.successText > h1{
    display: flex;
    flex-direction: row;
}

ul{
    margin-left: 6rem;
}


h4{
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-left: 6rem;
    padding-top: 0.2rem;
}
.topHeading{
    margin-top: 2rem;
    font-size:x-large;
}
.summary > h4{
    font-weight: 500;
    margin-top: 1rem;
}
.btn_summary {
    margin-left: 6rem;
    font-size: 1rem;
    height: 2.5rem;
    width: 7rem;
}
/* 
.btn_home{
    background-color: transparent;
    border: 2px solid #867AE9;
    border-radius: 0.6em;
    font-size: 1rem;
    height: 2.5rem;
    width: 5rem;
    background-color: #f1f8fa;
    font-weight: bolder;
    cursor:pointer;
    font-family: "Montserrat";
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 2rem;
}

.btn_home:hover{
    color: #d32c2c;
    outline: 0;
} */

.btn_home{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1f1f1f;
    border-radius: 0.6em;
    font-size: 1rem;
    height: 2.5rem;
    width: 5rem;
    background-color: #fff;
    color: #0A1931;
    font-weight: bolder;
    cursor:pointer;
    font-family: "Montserrat";
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 2rem;
}

.btn_home:hover{

    color:#fff;
    background-color: #7C83FD;
}